[profile.default]
src = "src"
out = "out"
libs = ["lib"]
eth-rpc-url = "https://0xrpc.io/hoodi"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
